
body{
    min-width: 700px;
    font-family: 'Shippori Mincho', serif;
}

nav ul {
    display: flex;
    list-style: none; /* リストのマーカーを非表示にする */
    padding: 0; /* パディングをリセットする */
}

 li a:hover {
    letter-spacing: .3rem;
    text-underline-offset: 4px;
    text-decoration: underline;
 
}

 li a {
    color: #4d4a4a;
    font-weight: 700;
    padding:1rem;
    text-align: center;
    width: 260px;
    transition: .3s;
    text-decoration: none;
    padding-bottom: 7px;
}
h1{ 
    color: rgb(58, 58, 58);
}


#logo {
    margin-bottom: 0px; 
}

body{
    background-color: rgb(255, 255, 255);
}
